{%load static%}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Employee Leave Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'includes/css.html' %}
</head>

<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <div class="page-container">
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="{% url 'leave' %}"><img src="{% static 'assets/images/icon/logo.png' %}" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active">
                                <a href="{% url 'leave' %}"><i class="ti-user"></i><span>Apply Leave</span></a>
                            </li>
                            <li>
                                <a href="{% url 'leave_history' %}"><i class="ti-agenda"></i><span>View My Leave History</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
            <div class="main-content-inner">
                <div class="row">
                    <div class="col-lg-6 col-ml-12">
                        <div class="row">
                            <div class="col-12 mt-5">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}

                                <div class="card">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <h4 class="header-title">Update My Profile</h4>
                                            <p class="text-muted font-14 mb-4">Please make changes on the form below to update your profile</p>

                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input class="form-control" name="firstName" type="text" value="{{ employee.first_name }}" required>
                                            </div>

                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input class="form-control" name="lastName" type="text" value="{{ employee.last_name }}" required>
                                            </div>

                                            <div class="form-group">
                                                <label>Gender</label>
                                                <select class="custom-select" name="gender">
                                                    <option value="Male" {% if employee.gender == "Male" %}selected{% endif %}>Male</option>
                                                    <option value="Female" {% if employee.gender == "Female" %}selected{% endif %}>Female</option>
                                                    <option value="Other" {% if employee.gender == "Other" %}selected{% endif %}>Other</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>D.O.B</label>
                                                <input class="form-control" type="date" name="dob" value="{{ employee.dob }}">
                                            </div>

                                            <div class="form-group">
                                                <label>Contact Number</label>
                                                <input class="form-control" name="mobileno" type="tel" value="{{ employee.phone_number }}" maxlength="10" required>
                                            </div>

                                            <div class="form-group">
                                                <label>Country</label>
                                                <input class="form-control" name="country" type="text" value="{{ employee.country }}" required>
                                            </div>

                                            <div class="form-group">
                                                <label>Address</label>
                                                <input class="form-control" name="address" type="text" value="{{ employee.address }}" required>
                                            </div>

                                            <div class="form-group">
                                                <label>City</label>
                                                <input class="form-control" name="city" type="text" value="{{ employee.city }}" required>
                                            </div>

                                            <div class="form-group">
                                                <label>Department</label>
                                                <select class="custom-select" name="department">
                                                    {% for department in departments %}
                                                        <option value="{{ department.id }}" {% if employee.department.id == department.id %}selected{% endif %}>{{ department.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <button class="btn btn-primary" type="submit">MAKE CHANGES</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%include 'includes/footer.html'%}
    </div>
    <div class="offset-area">
        <div class="offset-close"><i class="ti-close"></i></div>
        
        
    </div>
    {% include 'includes/js.html' %}
</body>

</html>
